/* Ensuring the body takes full height */
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #673ab8;
}

.main {
  display: flex;
}
.view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.list-container {
  background-color: #222;
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

button:hover {
  background-color: #3e8f42;
}
.property-form {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.property-form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.property-form button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #673ab8;
  color: white;
  border: none;
  cursor: pointer;
}

.property-form button:hover {
  background-color: #512da8;
}

.remove-btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #e64a19;
}
